@model FarmTradeApp.Core.Models.ApplicationUser
@{
    ViewBag.Title = "ViewUser";
}
<h2>View User: @Model.UserName</h2>
<table class="table table-bordered">
    <tr>
        <td>Name:</td>
        <td> @Html.DisplayFor(Model => Model.FullName)</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td> @Html.DisplayFor(Model => Model.Email)</td>
    </tr>
    <tr>
        <td>PhoneNumber:</td>
        <td> @Html.DisplayFor(Model => Model.PhoneNumber)</td>
    </tr>
    <tr>
        <td>Date Joined:</td>
        <td> @Html.DisplayFor(Model => Model.DateAccountCreated)</td>
    </tr>
    <tr>
        <td>LandlineNumber:</td>
        <td> @Html.DisplayFor(Model => Model.LandlineNumber)</td>
    </tr>
    <tr>
        <td>Address:</td>
        <td> @Html.DisplayFor(Model => Model.Address)</td>
    </tr>
    <tr>
        <td>City:</td>
        <td> @Html.DisplayFor(Model => Model.City)</td>
    </tr>
    <tr>
        <td>County:</td>
        <td> @Html.DisplayFor(Model => Model.County)</td>
    </tr>
    <tr>
        <td>PostCode:</td>
        <td> @Html.DisplayFor(Model => Model.PostCode)</td>
    </tr>
    <tr>
        <td>TaxNumber:</td>
        <td> @Html.DisplayFor(Model => Model.TaxNumber)</td>
    </tr>
    <tr>
        <td>User Is Verified:</td>
        <td>
            @if (Model.IsVerrified)
            {
                <i class="fas fa-thumbs-up fa-2x" style="color:green"></i>
            }
            else
            {
                <i class="fas fa-thumbs-down fa-2x" style="color:red"></i>
            }
        </td>
    </tr>
</table>
@Html.ActionLink("Go Back", "ViewAllContactForms")